/* Navbar container */
.navbar {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  top: 0;
  height: 8vh;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* General styles for left & right navbar sections */
.navbar-segment {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-left a {
  display: flex;
  align-items: center;
  height: 100%;
}

/* Logo */
.navbar-left img {
  object-fit: contain;
  width: auto;
  height: 100%;
  min-width: 70px;
  max-height: 50px;
}

.navbar-left {
  display: flex;
  align-items: stretch;
}

/* Shared styles for UL (left & right sections) */
.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Shared styles for LI (left & right sections) */
.navbar ul li {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 15px;
  border-bottom: 3px solid transparent;
  transition: background-color 0.3s ease-in-out;
}

/* Shared styles for links */
.navbar ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 100%;
  font-size: 22px;
  font-weight: bold;
  color: #333;
}

/* Hover effects (shared for left & right) */

.navbar ul li:hover a {
  color: darkgreen;
}

.highlight-link:hover {
  text-decoration: none !important;
  background-color: rgb(240, 240, 240);
  border-bottom-color: darkgreen;
}

.nav-btn {
  background-color: darkgreen;
  border: 2px solid transparent;
  border-radius: 50px;
  padding: 8px 10px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.notification-btn {
  border-radius: 50%;
  background-color: #f1ffee;
  color: darkgreen;
}

.notification-btn:hover {
  color: rgb(2, 161, 2) !important;
  background-color: #f1ffee !important;
  border-color: #f1ffee !important;
}

.nav-btn:hover {
  color: rgb(2, 161, 2);
  border-color: rgb(2, 161, 2);
  background-color: white;
}
